<!DOCTYPE html>

<html>
<head>
</head>
    
<body>
	
	<div data-role="page" id="eventsPage" data-theme="a">
	
		<div data-role="header" data-id="head1" data-position="fixed">
			<div class="logo">
			</div>
		</div><!-- /header -->
				
		<div data-role="content" id="eventList">	
			<div id="wall" class="facebookWall">
				
				<!-- Joe you're going to have to look at the template below to figure this one out!!! Sorry... -->
				
			</div>
		</div><!-- /content -->
		
		<div data-role="footer" data-id="tkoFooter" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="index.html" data-theme="a"><img src="jquery-mobile/images/home.png" width="25" height="25"><br>
						HOME</a>
					</li>
					<li>
						<a href="menu.html" data-theme="a"><img src="jquery-mobile/images/menu.png" width="25" height="25"><br>
						MENU</a>
					</li>
					<li>
						<a href="events.html" class="ui-btn-active" data-theme="a">
							<img src="jquery-mobile/images/events.png" width="25" height="25"><br>
						EVENTS</a>
					</li>
					<li>
						<a href="pictures.html" data-theme="a"><img src="jquery-mobile/images/pictures.png" width="25" height="25"><br>
						PICS</a>
					</li>
					<li>
						<a href="music.html" data-theme="a"><img src="jquery-mobile/images/music.png" width="25" height="25"><br>
						MUSIC</a>
					</li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
		
		<!-- jQuery templates. Not rendered by the browser. Notice the type attributes -->

		<script id="headingTpl" type="text/x-jquery-tmpl">
		<h1>${name}<span>on Facebook</span></h1>
		</script>

		<script id="feedTpl" type="text/x-jquery-tmpl">
		<li>
			<img src="${from.picture}" class="avatar" />

			<div class="status">
				<h2><a href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">${from.name}</a></h2>
				<p class="message">{{html message}}</p>
				{{if type == "link" }}
					<div class="attachment">
						{{if picture}}
							<img class="picture" src="${picture}" />
						{{/if}}
						<div class="attachment-data">
							<p class="name"><a href="${link}" target="_blank">${name}</a></p>
							<p class="caption">${caption}</p>
							<p class="description">${description}</p>
						</div>
					</div>
				{{/if}}
			</div>

			<p class="meta">${created_time} · 
			{{if comments}}
				${comments.count} Comment{{if comments.count>1}}s{{/if}}
			{{else}}
				0 Comments
			{{/if}} · 
			{{if likes}}
				${likes.count} Like{{if likes.count>1}}s{{/if}}
			{{else}}
				0 Likes
			{{/if}}
			</p>

		</li>
		</script>
	</div><!-- /page -->
	
</body>
</html>