@charset "utf-8";
/* CSS Document */


/* LOGO AREA
----------------------------*/
.logo {
	width: 250px;
	height: 40px;
	margin: 0 auto -20px auto;
	position: relative;
	z-index: 2;
	background-image:url(images/tko-head-sb.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
.logo { 
	background-image: url(images/tko-head-sb@2.png);
	background-size: 250px 40px;
}
}
